@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
        format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
  }
  body,
  input {
    font-size: 16px;
    line-height: 24px;
    background: radial-gradient(#cecece, #cccccc97);
    font-family: "ColfaxAI", Helvetica, sans-serif;
  }
  
  
  h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: #202123;
    margin: 16px 0 40px;
  }
  input[type="text"] {
    padding: 12px 16px;
    border: 1px solid #1760af;
    border-radius: 4px;
    margin-bottom: 24px;
  }
  ::placeholder {
    color: #8e8ea0;
    opacity: 1;
  }
  input[type="submit"] {
    padding: 12px 0;
    color: #fff;
    background-color: #1760af;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
  
  .icon1{
    max-width: 15vh;
  }
  
  
  .grid-container{
    display: grid;
    width: min(90%,75rem);
    grid-template-columns: 350px 1rem 2rem;
    margin: 5rem auto;
  }
  
  .card {
    margin-left:10vh;
    justify-content: center;
    align-items: center;
    background:#8e8ea0;
    font-size: 1  rem;
    color: rgb(0, 0, 0);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    max-width: 40vh;
    border-radius: 1px;
    margin-bottom: 3px;
    transition: all 500ms;
    overflow: hidden;
    max-width: 35vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

<<<<<<< HEAD
  .headerimg{
    padding-left: 5%;
    margin-top: 2vh;
    margin-left:2vh;
    margin-bottom: 2vh;
    max-height:6vh;
    color:black;
    border: 3px solid black;
    margin-right:2vh;
    border-radius: 4px;
    font-size: xx-large;


  }

  .logoimg{
    margin-bottom: 2vh;
    max-height:4vh;
    margin-left:10vh;
  }
  
  .card-heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(16, 16, 16);
    text-align: center;
    grid-area: header;
    margin-bottom: 2rem;
  }
  .card-display{
    margin-top:5%;
    margin-bottom: 40vh;
    margin-right: 25vh;
    margin-left: 5vh;
    max-height: 70vh;
    padding-top: 5vh;
    padding-left: 5vh;
    min-width: 60%;
=======
  
  
  .leftside {
    margin-top: 50px;
    margin-left:50px;
>>>>>>> origin/main
  }

  
  .labelexpanded {
    font-size: 12px;
  }
  
  .labelexpanded > input {
    display:none;
  }
  
  .labelexpanded input:checked + .radio-btns {
    
   background-color: rgba(34, 215, 255, 0.32);
  
  }
  
  .radio-btns {
    width: 100px;
    height: 60px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    text-size-adjust: 25;
    padding:0;
    box-shadow: 0 1px #c3c3c3;
    cursor: pointer;
    background-color: #eaeaea;
    float:left;
    margin-right: 15px;
    padding-top: 8px;
    margin-bottom: 5px;
  }
  
  .radio-btns > img {
    width: 28px;
    height: 30px;
  }
<<<<<<< HEAD

  .glass {
    background: white;
    min-height: 80vh;
    width: 90%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    margin-left: 10vh;
    margin-right: 5vh;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;

    
  }

  .textbox {
    font-size: 1  rem;
    color: rgb(0, 0, 0);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    max-width: 40vh;
    border-radius: 1px;    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
=======
>>>>>>> origin/main
